/* Elementy */


/* Klasy */

.header_login {
    top: 0;
    width: 100%;
    height: 200px;
    background-image: url("../img/logo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
}

.header_main {
    top: 0;
    width: 100%;
    height: 100px;
    background-image: url("../img/logo.jpg");
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: left;
    position: fixed;
}

.login {
    height: auto;
    width: 400px;
    text-align: center;
    position: absolute;
    top: 250px;
    left: 50%;
    margin-left: -200px;
    border: 3px ridge #eaeaea;
    border-radius: 8px;
    background-color: rgba(105, 105, 105, 0.9);

}