<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>5D Magazyn</title>
</head>
<body>
{% if user.is_authenticated %}
    <header class="header_main">
    <a href="{% url 'logout' %}" class="link"><div class="menu btn_gray"><div class="menu_str"> Wyloguj</div></div> </a>
    </header>
{% else %}
    <header class="header_login">
    </header>
{% endif %}
{% block content %}
    Coś nie działa
{% endblock %}
</body>
</html>