<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>5D Magazyn</title>
</head>
<body>
{% if user.is_authenticated %}
    <header class="header_main">
    </header>
    <ol>
        <li><a href="{% url 'tools_list' %}">LISTA NARZĘDZI</a>
            <ul>
                <li><a href="{% url 'tools_add' %}" class="t">DODAJ</a></li>
            </ul>
        </li>
        <li><a href="">BUDOWY</a>
            <ul>
                {% for site in construction %}
                    <li><a href="" class="t">{{ site.name }} {{ site.city }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li><a href="{% url 'workers_list' %}">PRACOWNICY</a>
            <ul>
                <li><a href="{% url 'workers_add' %}" class="t">DODAJ</a></li>
            </ul>
        </li>
        <li><a href="">HISTORIA</a></li>
        <li><a href="{% url 'logout' %}">WYLOGUJ</a></li>
    </ol>
{% else %}
    <header class="header_login">
    </header>
{% endif %}
{% block content %}
    Coś nie działa
{% endblock %}
</body>
</html>