{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="name">
        {{ construction.name }} {{ construction.city }}
    </div>
    <div class="list_tool">

        <table class="table">
            <thead>
            <tr>
                <td>lp</td>
                <td>Nr ew</td>
                <td>Typ</td>
                <td>Marka</td>
                <td>Pracownik</td>
                <td>Data</td>
                <td>Edycja</td>
                <td>Historia</td>
            </tr>
            </thead>
            {% for tool in tools %}
                <tr {% if forloop.counter|divisibleby:'2' %} class="background" {% endif %}>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ tool.nr }}</td>
                    <td>{{ tool.type }}</td>
                    <td>{{ tool.producer }}</td>
                    <td>{{ tool.workers }}</td>
                    <td>{{ tool.date }}</td>
                    <td><button type="button"><a href="{% url 'tools_update' tool.id %}" class="t">KLIK</a></button></td>
                    <td><button type="button"><a href="{% url 'history_single' tool.nr %}" class="t">KLIK</a></button></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}