{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid mt-5 w-75 overflow-scroll" style="max-height: 700px">
        <table class="table">
            <thead class="bg-dark sticky-top text-light">
            <tr>
                <th>LP</th>
                <th>DATA WPISU</th>
                <th>UŻYTKOWNIK</th>
                <th>NR EW.</th>
                <th>TYP</th>
                <th>MARKA</th>
                <th>DATA</th>
                <th>PRACOWNIK</th>
                <th>OBIEKT</th>
                {% if single %}
                {% else %}
                    <th>CZYNNOŚĆ</th>
                {% endif %}
            </tr>
            </thead>
            {% for data in history %}
                <tr {% if forloop.counter|divisibleby:'2' %} class="table-light" {% endif %}>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ data.creation_date|date }}</td>
                    <td>{{ data.user }}</td>
                    <td>{% if data.tool_nr %}{{ data.tool_nr }}{% endif %}</td>
                    <td>{% if data.tool_type %}{{ data.tool_type }}{% endif %}</td>
                    <td>{% if data.tool_producer %}{{ data.tool_producer }}{% endif %}</td>
                    <td>{% if data.tool_date %}{{ data.tool_date }}{% endif %}</td>
                    <td>{% if data.workers %}{{ data.workers }}{% endif %}</td>
                    <td>{% if data.construction %}{{ data.construction }} {% endif %}</td>
                    {% if single %}
                    {% else %}
                        <td>{{ data.comment }}</td>
                    {% endif %}

                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}