{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        {{ mess }}
    {% else %}
        <div class="container text-center border border-3 rounded-2 bg-light" style="width: 400px">
            <form method="post">
                {% csrf_token %}
                <h4 class="my-3">LOGOWANIE</h4>
                <div class="my-3">
                    <input type="email" placeholder="Podaj maila" name="email">
                </div>
                <div class="my-3">
                    <input type="password" placeholder="Podaj hasło" name="password">
                </div>
                <div class="my-3">
                    <input type="submit" class="btn btn-danger" value="ZALOGUJ">
                </div>
            </form>
            <br>
            {{ mess }}
        </div>
    {% endif %}
{% endblock %}