{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="list_tool">
        <table class="table">
            <thead>
            <tr>
                <td>lp</td>
                <td>Nr ew.</td>
                <td>Typ</td>
                <td>Marka</td>
                <td>Data pobrania</td>
                <td>Pracownik</td>
                <td>Obiekt</td>
                <td>Edycja</td>
                <td>Historia</td>
            </tr>
            </thead>
            {% for tool in tools %}
                <tr
                        {% if 'Budowa' in tool.construction.name %} class="on_site"
                        {% elif forloop.counter|divisibleby:'2' %} class="background"
                        {% endif %}>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ tool.nr}}</td>
                    <td>{{ tool.type }}</td>
                    <td>{{ tool.size }}</td>
                    <td>{{ tool.date }}</td>
                    <td>{{ tool.workers.surname }} {{ tool.workers.name }}</td>
                    <td>{{ tool.construction.name }} {{ tool.construction.city }}</td>
                    <td>
                        <button type="button"><a href="{% url 'tools_update' tool.id %}" class="t">KLIK</a></button>
                    </td>
                    <td>
                        <button type="button"><a href="{% url 'history_single' tool.nr %}" class="t">KLIK</a></button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}