{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5 text-center border border-3 rounded-2 bg-light" style="width: 500px">
        <p><b>DODAWANIE NOWGO NARZĘDZIA</b></p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="mb-3 mx-auto">
                {% for field in form %}
                    <tr>
                        <td>{{ field.label_tag }}</td>
                        <td>{{ field }}</td>
                    </tr>
                {% endfor %}
            </table>

            <input type="submit" class="btn btn-secondary" value="Dodaj">
        </form>
        {{ mess }}
    </div>
{% endblock %}