{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="list_tool">
        <table class="table">
            <thead>
            <tr>
                <td>lp</td>
                <td>Nr ew.</td>
                <td>Typ</td>
                <td>Marka</td>
                <td>Pojemność</td>
                <td>Wielkość</td>
                <td>Data pobrania</td>
                <td>Pracownik</td>
                <td>Obiekt</td>
                <td>Edycja</td>
            </tr>
            </thead>
            {% for tool in tools %}
                <tr {% if forloop.counter|divisibleby:'2' %} class="background" {% endif %}>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ tool.nr }}</td>
                    <td>{{ tool.type }}</td>
                    <td>{{ tool.producer }}</td>
                    <td>{{ tool.capacity }}</td>
                    <td>{{ tool.size }}</td>
                    <td>{{ tool.date }}</td>
                    <td>{{ tool.workers.surname }} {{ tool.workers.name }}</td>
                    <td>{{ tool.construction.name }} {{ tool.construction.city }}</td>
                    <td>
                        <button>EDYTUJ</button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}