{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="list_tool">
        <table class="table">
            <thead>
            <tr>
                <td>LP</td>
                <td>NR EW.</td>
                <td>TYP</td>
                <td>MARKA</td>
                <td>DATA POBRANIA</td>
                <td>PRACOWNIK</td>
                <td>OBIEKT</td>
                <td>WYDANIE / ZWROT</td>
                <td>HISTORIA</td>
            </tr>
            </thead>
            {% for tool in tools %}
                <tr
                        {% if 'Budowa' in tool.construction.name %} class="on_site"
                        {% elif forloop.counter|divisibleby:'2' %} class="background"
                        {% endif %}>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ tool.nr }}</td>
                    <td>{{ tool.type }}</td>
                    <td>{{ tool.producer }}</td>
                    <td>{% if 'Magazyn' not in tool.construction.name%}{{ tool.date }}{% endif %}</td>
                    <td>{{ tool.workers.surname }} {{ tool.workers.name }}</td>
                    <td>{{ tool.construction.name }} {{ tool.construction.city }}</td>
                    <td>
                        <button type="button"><a href="{% url 'tools_update' tool.id %}" class="t">EDYCJA</a></button>
                    </td>
                    <td>
                        <button type="button"><a href="{% url 'history_single' tool.nr %}" class="t">POKAŻ</a></button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}