{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid mt-5 w-75 overflow-scroll" style="max-height: 700px">
        <table class="table">
            <thead class="bg-dark sticky-top text-light">
            <tr>
                <th>LP</th>
                <th>IMIĘ</th>
                <th>NAZWISKO</th>
                <th>NR TELEFONU</th>
                <th>FIRMA</th>
                <th>EDYTUJ</th>
            </tr>
            </thead>
            {% for worker in workers %}
                <tr {% if forloop.counter|divisibleby:'2' %} class="table-light" {% endif %}>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ worker.name }}</td>
                    <td>{{ worker.surname }}</td>
                    <td>
                        {% if worker.phone == None %}
                            ---
                        {% else %}
                            {{ worker.phone }}</td>
                        {% endif %}
                    <td>{{ worker.company }}</td>
                    <td>
                        <button type="button" class="btn btn-secondary">
                            <a class="link-light text-decoration-none" href="{% url 'workers_update' worker.id %}">EDYCJA</a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}