{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="list">
        <table class="table">
            <thead>
            <tr>
                <td>lp</td>
                <td>Imię</td>
                <td>Nazwisko</td>
                <td>Nr telenofu</td>
                <td>Firma</td>
                <td>Edytuj</td>
            </tr>
            </thead>
            {% for worker in workers %}
                <tr {% if forloop.counter|divisibleby:'2' %} class="background" {% endif %}>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ worker.name }}</td>
                    <td>{{ worker.surname }}</td>
                    <td>
                        {% if worker.phone == None %}
                            ---
                        {% else %}
                            {{ worker.phone }}</td>
                        {% endif %}
                    <td>{{ worker.company }}</td>
                    <td>
                        <button type="button"><a href="{% url 'workers_update' worker.id %}" class="t">KLIK</a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}